*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container{
    width: 600px;
    height: 300px;
    background-color: whitesmoke;
    /* text-align: center; */
    border-radius: 12px;
}
.container h2{
    text-align: center;
    font-size: 35px;
    height: 120px;
    background-color: blueviolet;
    align-items: center;
    padding-top: 35px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    color: white;
}
.container h3{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
}
.container p{
    font-size: 18px;

    padding: 20px 20px;
}
#private-btn{
    background-color: rgb(178, 3, 3);
    color: white;
    font-size: 16px;
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    transition: uppercase;
    border-radius: 12px;
    margin-left: 20px;
  }
  #private-btn:hover{
    background-color: rgb(201, 12, 12);
  }